<!DOCTYPE html>
<html ng-app="ChromeWorkspaces" ng-csp>
<head>
  <base target="_blank">
  <title>Chrome Workspaces Title</title>
  <link rel="stylesheet" media="all" href="css/main.css">
</head>
<body ng-controller="WorkspaceCtrl">

<section id="main">

  <span ng-if="isSaved">
      Saved
  </span>
  <span ng-if="!isSaved">
      Not saved
      <button ng-click="save()">save</button>
  </span>

  <ul>
    <li ng-repeat="ws in workspaces">
      {{ws.name}}
      <ul>
        <li ng-repeat="tab in ws.tabs">
          {{tab.title}}
        </li>
      </ul>
    </li>
  </ul>

</section>

<script src="js/vendor/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>
